<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del juego</title>
</head>
<body>
    <p>Nombre del juego: <i>{{object.nombre}}</i></p>
    <p>Genero del juego: <i>{{object.genero}}</i></p>
    <p>Precio del juego: <i>{{object.precio}}</i></p>
    <p>
        <a href="{% url 'ListaJuegosXbox' %}">Regresar </a>
    </p>
</body>
</html>