{% extends "AppJuegos/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
<h1>Juegos de PS4</h1>
{% endblock %}

{% block contenidoQueCambia2 %}

{% if miFormulario.errors %}
    <p style="color: red;">Datos incorrectos</p>
    {% endif %}



    <form action="" method="POST"> {% csrf_token %}
        <table>
<h5>Agregá tu juego de PS4 acá.</h5>
          {{miFormulario.as_table}}

        </table>

        <input type="submit" value="Enviar">
   </form>

  
{% endblock %}

{% block contenidoQueCambia3 %}
<a class="navbar-brand" href="{% url 'LeerJuegosPs4' %}">¡Hacé click para ver los juegos de PS4 disponibles!</a> <br>
{% endblock %}