{% extends "AppJuegos/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
<h1>Formas de pagar tus juegos</h1>
<h5> ¡Elegí el medio de pago que te quede más cómodo!
  💲Mercado pago💲Ualá💲Tarjeta de débito/crédito💲Rapipago💲Pago fácil💲Transferencia bancaria💲</h5>
{% endblock %}

{% block contenidoQueCambia2 %}

{% if miFormulario.errors %}
    <p style="color: red;">Datos incorrectos</p>
    {% endif %}



    <form action="" method="POST"> {% csrf_token %}
        <table>

          {{miFormulario.as_table}}

        </table>

        <input type="submit" value="Enviar">
   </form>

{% endblock %}